# Local .terraform directories
**/.terraform/*

# Local .terragrunt-cache dirs
**/.terragrunt-cache

# .tfstate files
*.tfstate
*.tfstate.*

**/terraform.auto.tfvars
**/secret.auto.tfvars
**/.DS_Store

**/.terraform/*
**/**/.terraform/*
